.header {
  height: rem(56px);
  margin-bottom: rem(120px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-0));
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-gray-0));
  font-size: var(--mantine-font-size-md);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-cyan-7);
    color: var(--mantine-color-gray-0);
  }
}

.linksContainer {
  position: absolute;
  top: rem(56px);
  right: 0;
  background-color: var(--mantine-color-body);
  border: rem(1px) solid
    light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-3));
  padding: rem(10px);
  border-radius: var(--mantine-radius-sm);
  width: 100%;
}

.linksContainer a {
  width: 100%;
}
